<html>
    <head>
        <title>Twitter Sentiment Analysis </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body bgcolor="green">
        <div class="loginbox">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" class="avatar"></a>
            <h1>Twitter Movie Reviews</h1>
            <form method="post" name="Userinput" id="Userinput" action="/sentiment">
                <p>UserID</p>
                <input type="text" name="userid" placeholder="Enter UserID without @">
                <p>Movie  Search</p>
                <input type="text" name="hashtag" placeholder="Enter movie title">
                <center><button type="submit" class="btn btn-light btn-outline-success" id="sendMessageButton">Get Analysis</button></center>
                <br>
                
                

            </form>  
        </div>
    </body>
</html>